<!-- <div class="myDiv bg-primary"></div>
<hr>
<div class="container">
  <div class="myDiv bg-primary"></div>
</div>
<hr>
<div class="container-fluid">
  <div class="myDiv bg-primary"></div>
</div>

<hr> -->
<!-- <div class="container">
  <div class="row">
    <div class="myRow col bg-primary">a</div>
    <div class="myRow col bg-secondary">b</div>
    <div class="myRow col bg-info">c</div>
  </div>
</div> -->


<!-- <div class="container">
  <div class="row">
    <div class="myRow col-md bg-primary">a</div>
    <div class="myRow col-md bg-secondary">b</div>
    <div class="myRow col-md bg-info">c</div>
  </div>
</div> -->


<!-- <div class="container">
  <div class="row">
    <div class="myRow col bg-primary">a</div>
    <div class="myRow col bg-secondary">b</div>
    <div class="w-100"></div>
    <div class="myRow col bg-primary">a</div>
    <div class="myRow col bg-secondary">b</div>
  </div>
</div> -->


<div class="container">
  <div class="row">
    <div class="myRow col-6 bg-primary">a</div>
    <div class="myRow col bg-secondary">b</div>
    <div class="myRow col bg-primary">a</div>
    <div class="myRow col bg-secondary">b</div>
  </div>
</div>
